.ampm {
    position: absolute;
    width: 40px;
    height: 25px;
    font-size: 25px;
    color: #595959;
    bottom: 32%;
    left: 45%;
}

.clock {
    margin-left: -15%;
    position: relative;
    width: 300px;
    height: 300px;
    background-size: 100%;
    background: url(../img/contact/clock.png) no-repeat center;
    border-radius: 50%;
}

.clock.simple:after {
    background: #fff;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 51%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.simple-red {
    background: #fd3b3b;
    border-radius: 50%;
    position: absolute;
    left: 51%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 3%;
    z-index: 11;
}

.minutes-container,
.hours-container,
.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    position: absolute;
    top: 40%;
    left: 49.25%;
    width: 1.5%;
    height: 10%;
    background: #fff;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.minutes {
    position: absolute;
    top: 35%;
    left: 49.75%;
    width: 1.5%;
    height: 15%;
    background: #fff;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.seconds {
    background: #fd3b3b;
    height: 18%;
    left: 49.25%;
    position: absolute;
    top: 32%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 1.5%;
    z-index: 12;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}

.minutes-container {
    animation: rotate 3600s infinite steps(60);
}

.seconds-container {
    animation: rotate 60s infinite steps(60);
}

@media (max-width: 1920px) {
    .clock {
        margin-left: -5%;
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }
    .hours {
        top: 30%;
        left: 49.25%;
        width: 1.5%;
        height: 20%;
    }
    .minutes {
        top: 20%;
        left: 49.75%;
        width: 1.5%;
        height: 30%;
    }
    .seconds {
        height: 33%;
        left: 49.25%;
        top: 17%;
    }
    .ampm {
        height: 20px;
        font-size: 20px;
        bottom: 25%;
        left: 42%;
    }
}
