@media (max-width: 2500px) {
    .watch-wrapper {
        top: 490px;
        left: 66%;
    }
}

@media (max-width: 2300px) {
    .slick-img-wrap {
        height: 875.5px;
    }
}


/*****1920px******/

@media (max-width: 1921px) {
    body {
        font-size: 23px;
    }
    .first-triangle {
        top: -1500px;
        height: 1234px;
        background: url(../img/background-topfirst1920.png) no-repeat top right;
    }
    .second-triangle {
        top: 1500px;
        height: 4642px;
        background: url(../img/background-topsecond1920.png) no-repeat bottom right;
    }
    .footer-bg {
        height: 1085px;
        background: url(../img/footer1920.1.png) no-repeat;
        background-color: #cfdee8;
    }
    /***********************MODAL*************/
    #modal_form submit {
        width: 175px;
        height: 75px;
    }
    /********************************************/
    .phone-wrapper {
        top: 3%;
    }
    .phone {
        top: -1000px;
    }
    .phone-shadow,
    .phone-shadow2,
    .phone-shadow3,
    .phone-shadow4 {
        top: -1050px;
    }
    .watch-wrapper {
        width: 25%;
        top: -200px;
        left: 66%;
    }
    h1.title {
        margin-bottom: 40px;
    }
    h2 {
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .header {
        height: 125px;
        padding: 45px 65px;
    }
    .logo img:first-child {
        width: 36px;
        height: 36px;
    }
    .logo img:last-child {
        margin-left: 15px;
        width: 100px;
        height: 23px;
    }
    .navigation li,
    .social li,
    .copyright p {
        margin-right: 30px;
        height: 35px;
    }
    .navigation a,
    .social a {
        font: 20px/35px LarsseitMedium;
    }
    .navigation a:hover,
    .active {
        background: url(../img/navactive1680.png) no-repeat center;
    }
    /**********************HERO**********************/
    button.request,
    #modal_form button[type="submit"] {
        margin-top: 40px;
        width: 175px;
        height: 75px;
    }
    /**********************EXPERTIZE**********************/
    h4.sectionName {
        width: 157px;
        top: 200px;
        font-size: 23px;
    }
    .sectionName img {
        width: 35px;
        margin-right: 20px;
    }
    .expertize {
        margin-top: 165px;
        margin-bottom: 240px;
    }
    .learn span {
        height: 60px;
        line-height: 60px;
        border-width: 2px;
    }
    .expertize p {
        margin-bottom: 40px;
    }
    .expertize li img {
        width: 35px;
        margin-right: 20px;
    }
    /**********************CASE**********************/
    .slick-img-wrap {
        height: 739px;
    }
    .slick-prev,
    .slick-next {
        width: 53px;
        height: 25px;
    }
    .slick-prev {
        right: 44px;
        bottom: -66px;
        background: url('../img/customers-left1680.png') no-repeat;
    }
    .slick-next {
        right: 12px;
        bottom: -91px;
        background: url('../img/customers-right1680.png') no-repeat;
    }
    .case {
        margin-bottom: 300px;
    }
    .case .sectionName {
        top: 150px;
    }
    .case .learn {
        left: 10px;
        bottom: -90px;
    }
    .pagingInfoBlock {
        right: 135px;
        bottom: -75px;
    }
    .action {
        margin-top: 200px;
    }
    .cases footer {
        height: 180px;
        padding: 50px 65px;
    }
    footer,
    .contact footer {
        height: 135px;
    }
    footer .request {
        margin-top: -20px;
    }
    /**************************CASE******************/
    .cases .back {
        top: 0px;
    }
    .screens {
        margin-bottom: 125px;
    }
    .projects-text {
        margin: 65px 0 135px 0;
    }
    h4.name {
        margin-top: 62px;
    }
    .cases footer {
        margin-top: 320px;
    }
    .sliderBig.slick-prev,
    .sliderBig.slick-next,
    .cases-slick .slick-prev.red,
    .cases-slick .slick-next.red {
        height: 25px;
        background-size: 75%;
    }
    /**************************about.html******************/
    .about {
        background: #f0f0f0 url(../img/about/background1920.png) no-repeat top right;
    }
    .faces h4.sectionName {
        top: 120px;
    }
    .faces .text {
        top: -20px;
    }
    .face {
        height: 500px;
    }
    .zoom-face p {
        margin-top: 100px;
    }
    .faces .text h4 {
        margin-top: 10px;
    }
    div.plus {
        margin-top: 85px;
        padding-left: 50px;
        background-size: 25%;
    }
    .factorly {
        width: 25%;
        right: 0;
        top: 850px;
    }
    .why {
        margin-bottom: 230px;
        padding-top: 300px;
    }
    .ambiance h4.sectionName {
        width: 160px;
    }
    .contacts {
        padding-top: 25px;
    }
    .contacts img {
        margin-bottom: 40px;
    }
    .contacts p {
        margin-bottom: 15px;
    }
    .contacts .request {
        margin-top: 25px;
    }
    .about .footer-bg {
        display: block;
    }
}


/****1680px******/

@media (max-width: 1680px) {
    h2 {
        margin-top: 35px;
    }
    #modal_form {
        /*        padding: 100px 50px 50px 100px;*/
    }
    #modal_form .row {
        /*        font-size: 140%;*/
        margin-top: 20px;
    }
    .first-triangle {
        position: absolute;
        top: -1500px;
        width: 100%;
        height: 1051px;
        background: url(../img/background-topfirst1680.png) no-repeat top right;
    }
    .second-triangle {
        position: absolute;
        top: 1500px;
        width: 100%;
        height: 4642px;
        background: url(../img/background-topsecond16802.png) no-repeat bottom right;
    }
    .footer-bg {
        height: 1085px;
        background: url(../img/footer1.png) no-repeat center;
        background-color: #cfdee8;
    }
    .hero {
        padding-top: 95px;
    }
    /*************case.html************/
    .cases .case {
        margin-top: 40px;
    }
    /**************contact.html**************/
    .contacts img {
        width: 50%;
        margin-bottom: 20px;
    }
    .contacts .request {
        margin-top: 10px;
    }
    .contact footer {
        height: 95px;
    }
    .contact footer {
        height: 95px;
        padding: 30px 90px;
    }
}

@media (max-width: 1600px) {
    body {
        font-size: 20px;
    }
    .slick-img-wrap {
        height: 624px;
    }
}


/*****1366px******/

@media (max-width: 1366px) {
    body {
        font-size: 18px;
    }
    #modal_form .row {
        font-size: 100%;
        margin-top: 0;
    }
    button.request,
    #modal_form button[type="submit"] {
        width: 130px;
        height: 60px;
    }
    .input-append.date .add-on i,
    .input-prepend.date .add-on i {
        height: 33px;
    }
    /**************home.html***************/
    .arrow {
        width: 2%;
    }
    .hero {
        padding-top: 15px;
    }
    .expertize p {
        margin-bottom: 40px;
    }
    .slick-img-wrap {
        height: 540px;
    }
    .principle h2 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    /**************about.html***************/
    .factorly {
        top: 830px;
    }
    .faces {
        padding-top: 75px;
    }
    .face {
        height: 380px;
    }
    .faces .text {
        left: 35px;
    }
    div.plus {
        margin-top: 35px;
        padding-top: 20px;
        padding-left: 25px;
        background-size: 15%;
    }
    /**************cases.html***************/
    footer .request {
        line-height: 60px;
    }
    /***************contact.html******************/
    .contact footer {
        height: 55px;
        padding: 10px 90px;
    }
    .contacts .request {
        margin-top: 0;
    }
}

@media (max-width: 1025px) and (max-height: 601px) {
    .row-custom {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #modal_form {
        padding-top: 4%;
    }
    #modal_close {
        width: 15px;
        height: 15px;
        top: 20px;
        right: 20px;
    }
    .slick-img-wrap {
        position: relative;
        background-color: #fff;
        padding: 50px 60px 100px;
    }
    .cases .slick-img-wrap {
        padding: 50px 60px 20%;
    }
}

@media (max-width: 992px) {
    .row-custom {
        width: 90%;
    }
    h1.title {
        font: 207%/125% LarsseitMedium;
    }
    .header {
        padding: 45px 5%;
    }
    h4.sectionName {
        top: 0;
        transform-origin: 0 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .sectionoffset {
        width: 3%;
        margin-left: -2%;
    }
    .case .sectionoffset {
        margin-bottom: 20px;
    }
    .case .sectionName {
        top: 0;
    }
    .slick-img-wrap {
        height: 536px;
    }
    /**************cases.html***************/
    .together {
        width: 19%;
    }
    .basilic,
    .tomato {
        right: 0;
    }
    .back-buttons {
        right: 0;
    }
    .quote img {
        width: 15%;
    }
    footer,
    .contact footer {
        height: 110px;
        padding: 0;
        text-align: center;
    }
    footer .social {
        margin-bottom: 10px;
        float: none;
    }
    footer .copyright {
        margin-bottom: 30px;
        float: none;
    }
    .copyright p {
        margin-right: 0;
    }
    /**********about.html************/
    .faces h4.sectionName {
        top: -40px;
        left: 0;
    }
    .ambiance h4.sectionName {
        top: -20px;
        left: 0;
    }
    .ambiance-less-768-left {
        width: 50%;
        float: left;
    }
    .ambiance-less-768 {
        width: 50%;
        float: right;
    }
    .ambiance .back {
        position: relative;
        width: 50%;
        bottom: 0;
        z-index: 3;
        margin-top: 25%;
    }
    .ambiance .back h1 {
        font: 578%/135% CaslonGraphiqueEF;
    }
    .instagram-back,
    .back img {
        bottom: 15px;
        z-index: 2;
    }
    .back img {
        position: relative;
        margin-top: 50px;
    }
    .instagram-back p {
        font: 200%/178% LarsseitMedium;
    }
    .fifth {
        display: none;
    }
    .project-screen {
        margin-right: 2%;
    }
    .cases-button {
        position: absolute;
        right: 0;
        left: 0;
        top: -150px;
        display: block;
        width: 100%;
    }
    .case1,
    .case2,
    .case3,
    .case4,
    .case5,
    .case6,
    .case7,
    .case8 {
        background-size: 115%;
    }
}

@media (max-width: 768px) {
    .menu-small {
        display: block;
    }
    .arrow {
        right: 47%;
    }
    button.request {
        width: 115px;
        height: 50px;
        line-height: 50px;
    }
    #modal_form {
        padding-top: 7%;
    }
    #modal_form .row {
        line-height: 30px;
    }
    #modal_form input,
    #modal_form select {
        width: 44%;
    }
    br.less-768 {
        display: block;
    }
    #modal_close {
        width: 10px;
        height: 10px;
        top: 15px;
        right: 15px;
    }
    .bootstrap-datetimepicker-widget {
        width: 60%;
    }
    #modal_form button[type="submit"] {
        bottom: 15px;
        right: 5%;
        left: 5%;
        width: 90%;
        height: 50px;
        line-height: 50px;
    }
    body {
        font-size: 14px;
    }
    h1.title {
        margin-bottom: 20px;
    }
    .header {
        padding: 15px 5%;
        height: 65px;
    }
    #touch-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .phone-wrapper {
        width: 70%;
        top: 4%;
        left: 25%;
    }
    .hero {
        padding-top: 20px;
    }
    .hero button.request {
        display: block;
        margin: 70% auto 10px;
    }
    .arrow {
        width: 4.5%;
    }
    .back {
        position: static;
    }
    .back h1 {
        font: 350%/135% CaslonGraphiqueEF;
    }
    h2 {
        margin-bottom: 22px;
    }
    .learn span {
        height: 30px;
        line-height: 30px;
    }
    .expertize .arrow,
    .home .case .arrow,
    .principle .arrow {
        display: none;
    }
    /***************expertize*************/
    .expertize {
        margin-top: 100px;
        margin-bottom: 0;
    }
    .expertize table,
    .principle table {
        display: none;
    }
    .expertize-less-768,
    .principle-less-768 {
        display: block;
    }
    .expertize li img {
        width: 20px;
    }
    .expertize p {
        margin-bottom: 30px;
    }
    /****************case*******************/
    .home .case {
        margin-bottom: 0;
        padding: 20px 0 100px;
    }
    .slick-img-wrap {
        height: 408px;
    }
    .slick-img-wrap h2 {
        margin-top: 0;
    }
    .slick-img-wrap img {
        margin-top: 0;
    }
    .slick-img-wrap a {
        font: 100% LarsseitRegular;
        position: static;
        margin-left: 0;
        text-decoration: underline;
    }
    .pagingInfoBlock {
        right: 45%;
        bottom: 20px;
        z-index: 2;
    }
    .slick-prev {
        right: auto;
        left: 60px;
        bottom: 15px;
        z-index: 2;
        background-size: 70%;
    }
    .slick-next {
        right: 60px;
        bottom: 15px;
        z-index: 2;
        background-size: 70%;
    }
    .case .more-768 {
        display: none;
    }
    .case .learn {
        left: auto;
        right: 10px;
        bottom: -50px;
    }
    p.less-768 {
        display: inline;
    }
    p.more-768 {
        display: none;
        ;
    }
    .principle {
        z-index: 2;
    }
    .action {
        margin-top: 150px;
    }
    .action-less-768 {
        width: 40%;
        float: right;
    }
    .footer-bg {
        height: 785px;
        background: url(../img/footer992.1.png) no-repeat center;
        background-color: #cfdee8;
        background-size: cover;
    }
    /**************about.html***************/
    .zoom-face {
        margin-bottom: 30px;
    }
    div.plus {
        margin: 35px 0 0 15px;
        padding: 3% 0 0 4%;
    }
    .factorly {
        top: 1080px;
    }
    .why {
        margin-bottom: 100px;
        padding-top: 150px;
    }
    /*****************contact.html***************/
    .contacts {
        text-align: center;
        text-align: -webkit-center;
    }
    .clock {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }
    .ampm {
        font-size: 14px;
        left: 30%;
    }
    /*************cases.html***********/
    .cases .case {
        margin-top: 0px;
    }
    .cases .sectionoffset {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding-left: 20px;
    }
    .cases h4.sectionName {
        width: 100%;
        left: 0;
    }
    .cases .slick-img-wrap {
        padding: 50px 60px 25%;
    }
    .down-scroll span {
        bottom: -50px;
    }
    .cases .arrow {
        bottom: -100px;
    }
    .cases .case {
        margin-bottom: 200px;
    }
    .projects-text {
        margin: 25px 0 35px;
    }
    .project-screen {
        width: 45%;
        margin-left: 1%;
    }
    .first-project {
        margin: 0 4% 35px 1%;
    }
    .second-project {
        margin: 0 1% 35px 4%;
    }
    .case3 .third-project {
        margin-right: 5%;
    }
    .together {
        width: 25%;
    }
    .basilic {
        right: 35%;
        top: 48%;
    }
    .tomato {
        right: 35%;
        top: 58%;
    }
    .back-buttons {
        right: 10%;
        width: 25%;
    }
    .screens {
        margin-bottom: 45px;
    }
    .product-details p {
        margin-bottom: 30px;
    }
    .quote {
        margin-top: 0;
        padding-left: 40px;
    }
    .quote img {
        top: -20px;
        left: 0;
        width: 20%;
    }
    .pagingInfoBlock.red {
        right: 90px;
        bottom: -50px;
    }
    p.pagingInfo {
        margin-bottom: 0;
    }
    .slick-prev.red,
    .slick-next.red {
        background-size: 50%;
        bottom: -57.5px;
    }
    .slick-prev.red {
        left: auto;
        right: 140px;
    }
    .slick-next.red {
        right: 25px;
    }
    .cases-footer button.request {
        right: 40%;
    }
}

@media (min-height: 768px) {
    .expertize,
    .principle {
        padding-top: 50px;
    }
    .expertize .arrow,
    .principle .arrow {
        bottom: 65px;
    }
}

@media (min-height: 1024px) and (min-width: 769px) {
    .expertize,
    .principle,
    .home .case {
        padding-top: 175px;
    }
    .home .arrow {
        bottom: 195px;
    }
}

@media (max-height: 900px) {
    .cases .arrow {
        bottom: -100px;
    }
    .down-scroll span {
        bottom: -50px;
    }
}

@media (max-width: 590px) {
    .hero br {
        display: none;
    }
    .hero .col-xs-12 {
        padding: 0;
    }
    .back {
        width: 100%;
    }
    .ambiance .back h1 {
        font: 378%/135% CaslonGraphiqueEF;
    }
    .ambiance .back img {
        width: 40%;
    }
    .instagram-back p {
        font: 100%/178% LarsseitMedium;
    }
    h4.sectionName {
        font-size: 18px;
    }
    .cases-footer button.request {
        right: 42%;
    }
    .action {
        margin-top: 60px;
    }
}

@media (max-width: 435px) {
    .phone-wrapper {
        top: 10%;
    }
    .hero button.request {
        margin: 90% auto 10px;
    }
    .slick-img-wrap h2 {
        font: 200.8% LarsseitMedium;
    }
    .slick-img-wrap img {
        width: 40%;
    }
    .factorly {
        width: 35%;
        top: 1140px;
    }
}

@media (max-width: 414px) {
    .hero button.request {
        margin: 80% auto 10px;
    }
    .ambiance .back img {
        margin-top: 0;
    }
}

@media (max-width: 360px) {
    .hero button.request {
        margin: 70% auto 20px;
    }
    .slick-img-wrap {
        padding: 50px 25px 100px;
    }
    .slick-prev {
        left: 25px;
    }
    .slick-next {
        right: 25px;
    }
    .cases .slick-img-wrap {
        padding: 50px 25px 30%;
    }
}

@media (max-width: 320px) {
    .action button.request {
        margin: 20px 0 25px;
    }
    .action {
        margin-top: 20px;
    }
    .action-less-768 {
        width: 50%;
    }
    .footer-bg {
        height: 485px;
        background: url(../img/footer320.1.png) no-repeat center;
        background-color: #cfdee8;
        background-size: cover;
    }
    .social li,
    .copyright p {
        height: 24px;
    }
    .social a,
    .cases .social a {
        font: 14px/24px LarsseitMedium;
    }
    .copyright p,
    .cases .copyright p {
        font: 10px/24px LarsseitMedium;
    }
    /********cases.html*********/
    .down-scroll span {
        bottom: -40px;
    }
    .cases .arrow {
        bottom: -70px;
    }
}